body{
    font-family: 'Manrope', sans-serif;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 48px;
    font-weight: 800;
    line-height: 1.33;
    margin: 0px;
    margin-top: 64px;
}
.article{
    font-size: 19px;
    color: #18191f;
    line-height: 1.78;
    width: 540px;
    text-indent: -10px;
    text-align: center;
}
.content-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 48px;
}
.content-2{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 30%;
   margin-bottom: 64px;
}
.icon{
    width: 32px;
    height: 32px;
}
.article-1{
    line-height: 1.63;
    font-size: 16px;
    color: #18191f;
    width: 370px;
    margin-block-start: 0px;
    text-align: center;
}
