body{
    font-family: 'Manrope', sans-serif;
}
.page{
    width: 1110px;
    margin: 0px auto;
}
.title{
    font-size: 48px;
    font-weight: 800;
    line-height: 1.33;
    color: #18191f;
}
.content-1{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}
.title-1{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    color: #18191f;
}
.article{
    line-height: 1.63;
    font-size: 16px;
    color: #18191f;
}
@media screen and (max-width:767px){
   .page{
       width: 100%;
       margin: 0px auto;
   }
   .title{
        font-size: 40px;
   }
}