body {

    font-family: 'Manrope', sans-serif;
}
.title{
    font-size: 48px;
    font-weight: 800;
    line-height: 1.33;
    color: #18191f;
}
.title-1{
    font-size: 28px;
    line-height: 1.43;
    color: #18191f;
    font-weight: 800;
}
.title-1-1{
    font-weight: 400;
}
.title-2{
    font-size: 14px;
    line-height: 1.29;
    color: #18191f;
    font-weight: 800;
    letter-spacing: 2px;
}
.page{
    display: flex;
    flex-direction: column;
    width: 1110px;
    margin: 0px auto;
}
.content{
    display: flex;
    flex-direction: column;
    width: 46%;
}
.content-1{
    display: flex;
    flex-wrap: wrap;
    column-gap: 7.6%;
}
.content-2{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.button{
    padding: 10px 18px 10px 18px;
    border-radius: 100px;
    background-color: #8c30f5;
    width: 112px;
    height: 40px;
    color: #ffffff;
    line-height: 1.43;
    font-size: 14px;
    border-color: #8c30f5;
}
.line{
    width: 100%;
    background-color: #f4f5f7;
    margin-top: 34px;
    border-style: ridge;
}
.img{
    border-radius: 8px;
}
@media screen and (max-width:767px){
    .page{
        margin: 0px auto;
        width: 100%;
    }
    .content-1{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .content{
        width: 100%;
    }
    .title-1-1{
        font-size: 20px;
    }    
    .title{
        font-size: 40px;
    }
    
}