body {
    font-family: 'Manrope', sans-serif;  
    margin: 0px auto; 
}
.page{
    width: 1440px;
    height: 432px;
    background-color: #0b0d17;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-1{
    display: flex;
    column-gap: 30px;
    width: 70%;
}
.content-1{
    width: 16%;
}
.content-2{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}
.content-3{
    width: 42%;
    display: flex;
    flex-direction: column;
}
.img{
    width: 120px;
    height: 32px;
}
.article{
    font-size: 14px;
    line-height: 1.71;
    color: #d9dbe1;
    margin-top: 32px;
}
.title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #d6b1ff;
    margin-block-start:0px;
}
.button{
    color: #eeeff4;
    line-height: 1.63;
    font-size: 16px;
    margin-bottom: 12px;
}
.new{
    font-size: 20px;
    color: #2ec5ce;
    font-family: 'Nanum Pen Script';
    margin-left: 8px;
    line-height: 1.2;
}
