body {
    font-family: 'Manrope', sans-serif;   
}
.page{
    width: 1110px;
    display: flex;
    align-items: stretch;
    margin: 0px auto;
    justify-content: center;
}
.page-1{
    display: flex;
    justify-content: center;
    column-gap: 500px;
}
.article{
    color: #eeeff4;
    font-size: 14px;
    margin-bottom: 24px;
}
.title{
    color: #f4f5f7;
    font-size: 18px;
    font-weight: 500;
}
.line{
  opacity: 0.1;
  background-color: #ffffff;
  margin-block-start: 64px;
}
.content{
    display: flex;
    flex-direction: column;
    width: 23%;
}
.content-2{
    display: flex;
    flex-direction: column;
}
.img{
    margin-bottom: 24px;
    width: 162px;
    height: 48px;
}
.article-1{
    display: flex;
    color: #d9dbe1;
}
.icon{
    margin-right: 24px;
    width: 32px;
    height: 32px;
}
.content-1{
    display: flex;
    align-items: center;
}
.page-2{
    background-color: #0b0d17;
    height: 380px;
}