body{
    font-family: 'Manrope', sans-serif;
}
.page{
    width: 1110px;
    margin: 0px auto;
}
.content{
    margin-bottom: 64px;
}
.content-1{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}
.title{
    font-size: 48px;
    font-weight: 800;
    line-height: 1.33;
    color: #18191f;
    margin-bottom: 48px;
}
.title-1{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    color: #18191f;
    margin-block-start: 16px;
}
.article{
    font-size: 16px;
    line-height: 1.63;
    color: #18191f;
    margin-block-start: 8px;
}
@media screen and (max-width:767px){
    .page{
        width: 100%;    
    }
    .title{
        width: 100%;
        text-align: center;
    }
    .img{
        width: 100%;
    }
}