body{
  font-family: 'Manrope', sans-serif;
  margin: 0px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 30px;
  border: 1px solid white;
  padding: 120px;
}
.content{
  display: flex;
  align-items: center;
  padding: 15px;
  width: 237px;
  border-left: solid 1px #8c30f5;
  padding-left: 18px;
    
}
.content-1{
  display: flex;
  flex-direction: column;
}
.number{
  font-size: 28px;
  font-weight: 800;
  color: #18191f;
  margin: 0px;
}
.label{
  font-size: 16px;
  font-weight: 400;
  color: #18191f;
  margin: 0px;
}
@media screen and (max-width:767px){
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
  .content{
    width: 100%;
    margin-top: 10px;
  }
}